<div class="background">
  <div class="login-form-container">
    <div class="login-form">
      <!-- user avatar -->
      <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">X - - -</h2>
      <!-- <div class="user-avatar"></div> -->
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit(loginForm)"
      >
        <div class="username-container">
          <input
            type="email"
            tabindex=1
            formControlName="email"
            placeholder="پست الکترونیک"
          >
        </div>
        <div class="password-container">
          <input
            type="password"
            tabindex=2
            formControlName="password"
            placeholder="رمز عبور"
          >
        </div>
        <div class="helper-text"> Wrong! </div>
        <div class="login-button-container">
          <button
            tabindex=3
            type="submit"
            class="login-button"
          >ورود</button>
        </div>
      </form>
      <img
        *ngIf="loginStatusGifSource"
        class="login-status-gif"
        [src]="loginStatusGifSource"
        alt=""
      >
    </div>
  </div>
</div>