<div *ngIf="initPermit">
  <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
    <div class="main-body-container">
      <div class="save-cancel-container">
        <button type="submit" class="save" [disabled]="gameForm.invalid">
          Save
        </button>
        <button type="button" class="cancel" (click)="onCancel()">
          Cancel
        </button>
      </div>
      <div class="form-control-container game-name">
        <label for="game-name">Name</label>
        <div>
          <input id="game-name" type="text" formControlName="name" />
          <div class="line"></div>
        </div>
      </div>
      <div class="form-control-container">
        <label for="game-level">Level</label>
        <div>
          <input id="game-level" type="range" formControlName="level" />
        </div>
        <span class="slider-value">{{ gameForm.get("level").value }}</span>
      </div>
      <div class="form-control-container">
        <label for="players-no">Players</label>
        <div>
          <input
            id="players-no"
            type="range"
            max="15"
            formControlName="playersNo"
          />
        </div>
        <span class="slider-value">{{ gameForm.get("playersNo").value }}</span>
      </div>
      <div class="form-control-container">
        <label for="city">City</label>
        <div>
          <input id="city" type="text" formControlName="city" />
          <div class="line"></div>
        </div>
      </div>
      <div class="form-control-container">
        <label for="region">Region</label>
        <div>
          <input id="region" type="text" formControlName="region" />
          <div class="line"></div>
        </div>
      </div>
      <div class="form-control-container">
        <label for="cost">Cost</label>
        <div>
          <input type="number" id="cost" formControlName="cost" />
          <div class="line"></div>
        </div>
      </div>
      <div class="form-control-container">
        <label for="prize">Award</label>
        <div>
          <input type="number" id="prize" formControlName="prize" />
          <div class="line"></div>
        </div>
      </div>
      <div
        class="photo-demo"
        [ngStyle]="{
          'background-image': 'url(' + gameForm.get('photoPath').value + ')'
        }"
      ></div>
      <div class="form-control-container">
        <label for="photo">Photo</label>
        <div>
          <input id="photo" type="text" formControlName="photoPath" />
          <div class="line"></div>
        </div>
      </div>
    </div>

    <!--  -->
    <!--  -->
    <div class="missions-container" formArrayName="missions">
      <!-- <hr /> -->
      <!-- <h4 style="margin: 30px 0 20px 0">مأموریت ها</h4> -->
      <!-- <hr /> -->
      <div
        class="single-mission-container"
        *ngFor="
          let missionCtrl of gameForm.get('missions')['controls'];
          let i = index
        "
        [formGroupName]="i"
      >
        <div class="form-control-container">
          <select size="1" (change)="onSelectOption($event.target.value, i)">
            <option value="default"> -- Select -- </option>
            <option *ngFor="let mission of missions" value="{{ mission.id }}"
              >{{ mission.name }}
            </option>
          </select>
          <div class="line"></div>
        </div>
        <div id="mission-id"><input type="text" formControlName="id" /></div>
        <div class="form-control-container">
          <label for="mission-name">Name</label>
          <div>
            <input class="mission-name" type="text" formControlName="name" />
          </div>
        </div>
        <div class="form-control-container">
          <label for="mission-script">Script</label>
          <div>
            <textarea
              class="mission-script"
              type="text"
              formControlName="script"
            >
            </textarea>
          </div>
        </div>
        <div class="form-control-container">
          <label for="mission-order">Order</label>
          <div>
            <input id="mission-order" type="number" formControlName="order" />
            <div class="line"></div>
          </div>
        </div>
        <button
          type="button"
          (click)="onMissionDelete(i)"
          class="x-button"
          style="float: left;"
        >
          X
        </button>
        <button
          type="button"
          (click)="onMissionEdit(missionCtrl.controls.id.value)"
          class="edit-mission-button"
          style="float: left;"
        >
          Edit Mission
        </button>
        <br /><br />
      </div>
      <hr style="margin: 25px 0 15px 0;" />
      <button
        class="add-mission-button"
        type="button"
        (click)="onMissionAdd()"
        id=""
      >
        Add Mission
      </button>
    </div>
    <!--  -->
    <!--  -->
  </form>
</div>
