@import '../../../scss/mixins';
@import '../../../css/form.css';
@import '../../../css/slider.css';

button {
  @include btn(none);
  padding: 12px 8px;
  color: whitesmoke;
}

.game-name {
  margin-top: 40px
}