<div class="background">
    <div class="signup-form-container">
        <div class="signup-form">
            <!-- user avatar -->
            <h3>ادمین جدید</h3>
            <!-- <div class="user-avatar"></div> -->
            <form
                [formGroup]="signupForm"
                (ngSubmit)="onSubmit(signupForm)"
            >
                <div class="display-name-container">
                    <input
                        type="text"
                        tabindex=1
                        formControlName="displayName"
                        placeholder="نام به انگلیسی"
                    >
                </div>
                <div class="username-container">
                    <input
                        type="text"
                        tabindex=2
                        formControlName="email"
                        placeholder="پست الکترونیک"
                    >
                </div>
                <div class="password-container">
                    <input
                        type="password"
                        tabindex=3
                        formControlName="password"
                        placeholder="رمز عبور"
                    >
                </div>
                <div class="phone-number-container">
                    <input
                        type="text"
                        tabindex=4
                        formControlName="phoneNumber"
                        placeholder="تلفن همراه"
                    >
                </div>
                <div class="photo-url-container">
                    <input
                        type="url"
                        tabindex=5
                        formControlName="photoURL"
                        placeholder="آدرس عکس پروفایل"
                    >
                </div>
                <div class="photo-url-container">
                    <input
                        type="url"
                        tabindex=5
                        formControlName="photoURL"
                        placeholder="نقش"
                    >
                </div>
                <div class="signup-button-container">
                    <button
                        tabindex=6
                        type="submit"
                        class="signup-button"
                    >ذخیره</button>
                    <button
                        routerLink="/home/games"
                        tabindex=6
                        class="cancel-button"
                    >
                        بازگشت
                    </button>
                </div>
            </form>
            <img
                *ngIf="signupStatusGifSource"
                class="signup-status-gif"
                [src]="signupStatusGifSource"
                alt=""
            >
        </div>
    </div>
</div>