<div class="background">
  <div class="signup-form-container">
    <div class="signup-form">
      <!-- user avatar -->
      <h3>ادمین جدید</h3>
      <!-- <div class="user-avatar"></div> -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="display-name-container">
          <input
            type="text"
            tabindex="1"
            formControlName="displayName"
            placeholder="Name"
          />
        </div>
        <div class="username-container">
          <input
            type="text"
            tabindex="2"
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <div class="password-container">
          <input
            type="password"
            tabindex="3"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <div class="phone-number-container">
          <input
            type="text"
            tabindex="4"
            formControlName="phoneNumber"
            placeholder="Phone Number"
          />
        </div>
        <div class="photo-url-container">
          <input
            type="url"
            tabindex="5"
            formControlName="photoURL"
            placeholder="Photo URL"
          />
        </div>
        <div class="photo-url-container">
          <input
            type="url"
            tabindex="5"
            formControlName="photoURL"
            placeholder="Role"
          />
        </div>
        <div class="signup-button-container">
          <button tabindex="6" type="submit" class="signup-button">
            Submit
          </button>
          <button routerLink="/home/games" tabindex="6" class="cancel-button">
            Cancel
          </button>
        </div>
      </form>
      <img
        *ngIf="signupStatusGifSource"
        class="signup-status-gif"
        [src]="signupStatusGifSource"
        alt=""
      />
    </div>
  </div>
</div>
