@import '../../../scss/mixins';
@import '../../../css/form.css';

#challenge-id {
  display: none;
}
form {
  padding: 12px;
}

div.form-container {
  padding: 12px;
}

input.game-name,
input.game-city,
input.game-area {
  background-color: rgb(250, 250, 250);
  border: none;
}

div.game-city,
div.game-area {
  display: inline-block;
  width: 49%;
  margin-top: 8px;
}

div.game-area {
  margin-left: 2%;
}

button {
  @include btn(none);
  padding: 12px 8px;
  color: whitesmoke;
}
