<div class="main-div">
  <table>
    <div class="header">
      <tr>
        <th *ngFor="let th of tableHeaders">{{ th }}</th>
      </tr>
      <tr>
        <td>
          <button class="create-new-button" (click)="onCreateNew()">+</button>
        </td>
        <td
          *ngFor="
            let tf of tableFilterTypes;
            let whichHeader = index;
            trackBy: trackByIndex
          "
        >
          <div>
            <input
              type="text"
              class="filter-box"
              [(ngModel)]="tableFilterTypes[whichHeader]"
              placeholder="Filter"
            />
          </div>
        </td>
        <td><fa-icon class="faImage" [icon]="faImage"></fa-icon></td>
      </tr>
    </div>

    <div
      class="body"
      *ngFor="let mission of missions | filter: tableFilterTypes:arrayItemKeys"
    >
      <tr>
        <td>
          <button class="edit" (click)="onMissionEdit(mission.id)">
            <fa-icon [icon]="faEdit"></fa-icon>
          </button>
          <button class="delete" (click)="onMissionDelete(mission.id)">
            <fa-icon [icon]="faDelete"></fa-icon>
          </button>
        </td>
        <td>{{ mission.script | noTags }}</td>
        <td>{{ mission.name }}</td>
        <td [style.backgroundImage]="'url(' + mission.photoPath + ')'"></td>
      </tr>
    </div>

    <div class="plus-btn-container">
      <button class="create-plus-button" (click)="onCreateNew()">+</button>
    </div>
  </table>
</div>
